<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="flash small text-center"><%= flash.notice %></div>

    <% if notice %>
      <p class="alert alert-success small text-center"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger small text-center"><%= alert %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
